<!doctype html>
<html>
<head>
  <meta charSet="utf-8" />
  <title>B&B System</title>
  <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
  <!-- sharepoint 依赖引入 jsom使用-->
  <!-- <script src="./sp/initstrings.js"></script>
  <script src="./sp/init.js"></script>
  <script src="./sp/MicrosoftAjax.js"></script>
  <script src="./sp/sp.init.js"></script>
  <script src="./sp/sp.core.js"></script>
  <script src="./sp/sp.runtime.js"></script>
  <script src="./sp/sp.js"></script> -->
</head>
<body>
  <div id="root"></div>
</body>
</html>